.project-page__back {
    font-size: 48px;
    color: var(--white-icon-color);
}

.project-page__back:hover {
    color: var(--white-icon-color);
}

.project-page__title {
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: var(--white-icon-color);
}

.project-page__link {

    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    left: 20px;
    top: 20px;
}

.project-page__link:hover {
    color: var(--neon-color-pink);
    filter:
        drop-shadow(0 0 2px var(--neon-light-pink)) drop-shadow(0 0 5px var(--neon-light-pink)) drop-shadow(0 0 15px var(--neon-light-pink));
}

.project-page__name {
    font-size: 40px;
    color: var(--white-icon-color);
}

.project-page__header {
    z-index: 10;
    display: flex;
    padding: 20px 20px;
    position: relative;
    justify-content: center;
}

.project-page {}

.project-page__image {
    width: 50%;
    top: 0px;
    object-fit: cover;
    border-radius: 32px;

}

.project-page__block {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 20px;
    flex-wrap: wrap;
}


.project-page__text-block {
    margin: 0 40px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-page__description {
    font-size: 24px;
    color: var(--white-icon-color);
}

.project-page__main-info {
    display: flex;
    align-items: flex-start;
    /* flex-wrap: wrap; */
}